{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .employee_info{
        display: flex;
        gap: 15px;
    }
    img{
        height: 60px;
        width:auto";
    }
</style>

<body>
    {% for user in users %}
        {% if not user.is_superuser %}
            <div class="employee_info">
                <p>Сотрудник: {{ user.first_name }} {{ user.last_name }}</p>
                <img src="{{ user.image.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
            </div>
            <p>Email: {{ user.email }}</p>
            <p>Должность: {{ user.role }}</p>
            <p>Текущие проекты:</p>
            <ul>
                {% for project in user.project_set.all %}
                    <li>{{ project.title }}</li>
                    <ul>Текущие задания:
                        {% for task in project.task_set.all %}
                            {% if task.assigned_to == user %}
                                <li>{{ task.title }} - {% if task.is_completed %} Завершено {% else %} В процессе {% endif %}</li>
                            {% endif %}
                        {% empty %}
                            <li>Нет текущих заданий</li>
                        {% endfor %}
                    </ul>
                {% empty %}
                    <li>Нет текущих проектов</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}
    {% endfor %}
</body>
</html>