{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .employee_info{
        display: flex;
        gap: 15px;
    }
    img{
        height: 60px;
        width:auto";
    }
</style>

<body>
    {% for user in users %}
    {% if not user.is_superuser %}
    <div class="employee_info">
        <p>Сотрудник: {{ user.first_name }} {{ user.last_name }}</p>
        <img src="{{ user.image.url }}" alt="Vlадимир" >
    </div>
    <p>Email: {{ user.email }}</p>
    <p>Должность: {{ user.role }}</p>
    <p>Текущие проекты: {{ user.ongoing_projects }}</p>
    <p>Текущие задания: {{ user.ongoing_tasks }}</p>
    <br>
    <br>
    {% endif %}
    {% endfor %}
</body>
</html>